@media (max-width:767px) {

   

   h1{
    line-height: 2rem;
   }

   h2{
    line-height: 3.5rem;
   }

   h3{
    line-height: 5rem;
   }
   h5{
    line-height: 3rem;
   }

   .about-content{

      margin-top: 2rem;
      display: block;
      /* word-break: break-all; */
      /* width: 22.5rem; */
   }

   .card{
      word-wrap: break-word;
      max-height:fit-content !important;
      padding: 0 !important;
      margin: 0 !important;
      opacity: 1;
   }



   form{
      margin-top: 1px !important;
      width:fit-content;
   }


.card-body{
   margin: 0 !important;
   
}





    
}




@media (min-width:991px){
   .list-group-item{
      border: none;
   height: fit-content;

   }
}






@media screen and (min-width: 768px) and (max-width: 790px) {

   .card-heading{
      font-size: 1.5rem;
      word-wrap: break-word;
   }
}