
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* :root{

     --primary-color: #016A70;
    --secondary-color: #053B50;
    --bg-white: white;
    --gradient: linear-gradient(to right,#016A70 0%,  #053B50 100% ) 
} */



body {
    width: 100%;
    background-image: url("../images/background-img.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: white;
}






/* navbar section */
.nav-body{
    background-color:#016A70 !important;
}


.navbar-toggler:focus{
    box-shadow: none !important;
}


.nav-link{
    color: white;
    transition: font-size .5s;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #067c82;
    font-size: 1.5rem;

}
.nav-link:hover{

    font-size: 1.5rem;
    color: #067c82;
    
}

.navbar-toggler:hover  {
    transform: rotate(180deg);
}

.nav-item{
    margin: 0 0.5rem;
}

.btn-close{
    --bs-btn-close-color: white !important;
}
.header-wrapper img{
    display: flex;
    position: relative;
    width: 30%;
    height: fit-content;
    border: 2px solid;
}
.offcanvas-title {
    cursor: pointer;
}
.list-group,.list-group-item{
    background-color: transparent !important;
    ;
    line-height: 5rem;
}



/* Home Section */


#home{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;



}

#home img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    
}